<% @configuration_item_relations.each do |relation|
%><div class="configuration_item_form" id="configuration_item_relation_form_<%=relation.id%>">
  <% item = relation.configuration_item %>
  <p>
    <%= link_to_item(item, relation.downtime) %>
  </p>
  <p>
    <%= link_to image_tag('delete.png'), configuration_item_relation_path(relation, :project_id => @project),
                :remote => true, :method => :delete,
                :title => l(:label_relation_delete) %>
  </p>
</div><% end %>

<%= form_for @configuration_item_relation, {
            :url => {:controller => 'configuration_item_relations', :action => 'create', :project_id => @project},
            :method => :post, :remote => true, :as => :relation
          } do |f| %>

  <%= error_messages_for 'configuration_item_relation' %>

  <%= f.hidden_field :element_type, :value => @configuration_item_relation.element.class.to_s %>
  <%= f.hidden_field :element_id, :value => @configuration_item_relation.element.id %>

  <p>
    <%= f.text_field :configuration_item_id, :style => 'width:280px',
                     :data => { :placeholder => l(:type_some_letters),
                                :ajax_url => configuration_items_path(:format=>'json', :key=>User.current.api_key),
                                :current_ids => @configuration_item_relations.map(&:configuration_item_id).join(","),
                                :no_matches => l(:label_no_data)
                              } %>
    <%= submit_tag l(:button_add) %>
    <%= jquery_toggle_link l(:button_cancel), '#configuration_item_relation_form,#related_configuration_items' %>
  </p>

<% end %>
